on:
  pull_request:
  push:
    branches:
      - master


name: Check and Lint

jobs:
  windows:
    name: Tests on windows
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Tests
        run: cargo test --workspace --all-targets --all-features

  linux:
    name: Tests, formatting and clippy on linux
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt clippy

      - name: clippy minimal features
        run: cargo clippy --workspace --all-targets --no-default-features

      - name: clippy default features
        run: cargo clippy --workspace --all-targets

      - name: clippy all features
        run: cargo clippy --workspace --all-targets --all-features

      - name: test minimal features
        run: cargo test --workspace --all-targets --no-default-features

      - name: test default features
        run: cargo test --workspace --all-targets

      - name: test all features
        run: cargo test --workspace --all-targets --all-features

      - name: Example documentation
        run: cargo build --all-features -p docs &&  git diff && git diff-index --quiet HEAD --

      - name: Rustdoc
        run: cargo doc --all --no-deps --all-features

      - name: formatting
        run: touch docs/src/lib.rs && cargo fmt --all -- --check

  compat:
    name: Tests on linux with old toolchain
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.56
          components: rustfmt clippy

      - name: test minimal features
        run: cargo test --no-default-features

      - name: test default features
        run: cargo test

      - name: test all features
        run: cargo test --all-features

      - name: derive
        run: cargo test -p bpaf_derive --lib --tests --no-default-features
